@charset "utf-8";
/* CSS Document */


ul#tabmenu li ul {position: relative; z-index: 1000;}


body {
    background-color: #ffffff;
}

/* pull-down mainmenu css */
.mainmenu{
    float: left;
    width: 100%;
    padding: 0;
}
.mainmenu ul {
    float: left;
    width: 100%;
    list-style: none;
    line-height: 1;
    color:#C0C0C0;
    background: #000080;
    padding: 0;
    border: solid #A0A0A4;
    border-width: 1px 0;
    margin: 0 0 1em 0;
    position: relative; z-index: 1000;
}

.mainmenu a, .mainmenu a:visited {
    display: block;
    font-family:Arial, Helvetica, sans-serif;font-size:0.8em;font-weight:bold;font-style:normal;text-decoration:underline;
    color: #C0C0C0;
    text-decoration: none;
    padding: 1em 1em;
    position: relative; z-index: 1000;
}
.mainmenu ul ul a{
    width:100%;
    height:100%;
    position: relative; z-index: 1000;
}
.mainmenu ul a{
    width:1%;
    position: relative; z-index: 1000;
}


.mainmenu li  {
    float: left;
    margin:0;
    padding:0;
    position: relative; z-index: 1000;
}

.mainmenu ul li {float:left; position:relative;  }
.mainmenu ul li a {white-space:nowrap;}

.mainmenu li ul {
    position: absolute;
    left: -999em;
    height: auto;
    width:15em;
    z-index: 1000;
    background: #000080;
    font-weight: normal;
    border-width: 1px;
    margin: 0;
}

.mainmenu li li {
    width:15em ;
}

.mainmenu li li a{
    width:13em ;
}

.mainmenu li ul  {
    margin: 0;
}
.mainmenu li ul ul {
    margin: -2.8em 0 0 13.5em;
}


.mainmenu li li li li li:hover ul ul
{
    left: -999em;
}

.mainmenu li li li li li:hover ul
{
    left: auto;
}
.mainmenu li:hover>ul.ch
{
    left: auto;
}

.mainmenu li:hover{
    background: #abebff;
}

.mainmenu li a:hover{
    color: #0f13ff;
}

.mainmenu li li li li:hover li a:visited
{
    color:#FFFFFF;
}

.mainmenu li li li li li li:hover
{
    background: #ffffff;
    z-index:9999;
}

.mainmenu li li li li li:hover a
{
    color: #0000FF;
}

.mainmenu ul ul a, .mainmenu ul ul a:visited,
.mainmenu li li a, .mainmenu li li a:visited
{
    color: #FFFFFF;
}
.mainmenu li:hover li:hover li:hover li:hover li:hover li:hover a:visited{
    color: #0000FF;
}

.mainmenu li:hover li:hover li:hover li:hover li:hover li a:visited{
    color: #FFFFFF;
}

